$margins: 50px;
$widths: 900px;
body{
  background: #87A890;
  font-family: "Helvetic";
}
.recipes{
  margin: 0px auto;
  width: $widths;
  height: 600px;
  margin-top: $margins;
  margin-bottom: $margins;
}
.recipebox{
  margin: 0px auto;
  min-height: 400px;
  height: auto;
  width: $widths;
  background: #755252;
  margin-bottom: 20px;
  border-radius: 10px;
  color: black;
  padding: 20px;
  box-shadow: 1px 1px 7px 2px #000;
  h4{
    color: #F5F5F5;
  }
  h2{
    margin-bottom: 30px !important;
    color: #F5F5F5;
  }
}
.panel .btn{
  margin: 10px !important;
}
.panel h4{
  text-align: left;
  margin-left: 30px;
}
.panel-default{
  background: #87A890 !important;
}
form .btn{
  margin: 5px;
}
